<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: template(~{:: #home-page-section})}">
<section id="home-page-section">
    <div class="container">
        <img th:src="@{/img/hero-home.jpg}" alt="Pizza" style="width: 100%; height: 300px; object-fit: cover">

        <div style="text-align: center">
            <h2 style="font-size: 2em">Pizza neapolitańska</h2>
            <p style="font-weight: 200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci
                mollitia tempore ut? Accusamus
                aliquid culpa explicabo iure molestias nam nesciunt quis reiciendis similique veritatis? Atque culpa
                delectus eaque error, est fugit maxime molestiae nam odit provident quam quisquam recusandae
                reprehenderit
                rerum tempora unde, veniam, voluptas? A at explicabo quaerat!</p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center">
            <a class="btn" href="">Sprawdź nasze
                menu</a>
        </div>
    </div>
</section>

</html>